.products{
    border:1px solid black;
    padding: 10px;
    margin: 10px;
}

.close{
    background-color: red;
    width: 50px;
    border-radius: 25%;
    color: white;
    text-align: center;
    height: 50px;
    cursor: pointer;
}